<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weather_app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58DC94632AAD04F700CAA168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DC94732AAD04FA00CAA168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DC947D2AAD04FA00CAA168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
